/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <4>;
//             | SW01  | SW02  | SW03  | SW04  | SW05  |  | SW05  | SW04  | SW03  | SW02  | SW01  |
//             | SW06  | SW07  | SW08  | SW09  | SW10  |  | SW10  | SW09  | SW08  | SW07  | SW06  | 
//      | SW16 | SW11  | SW12  | SW13  | SW14  | SW15  |  | SW15  | SW14  | SW13  | SW12  | SW11  | SW16  |
//                             | SW17  | SW18  | SW19  |  | SW19  | SW18  | SW17  | 
        map = <
                RC(0,6) RC(5,0) RC(0,5) RC(4,0) RC(0,4)    RC(0,11) RC(4,7) RC(0,12) RC(5,7) RC(0,13)
                RC(1,6) RC(5,1) RC(1,5) RC(4,1) RC(1,4)    RC(1,11) RC(4,8) RC(1,12) RC(5,8) RC(1,13)
                RC(2,6) RC(5,2) RC(2,5) RC(4,2) RC(2,4)    RC(2,11) RC(4,9) RC(2,12) RC(5,9) RC(2,13)
                                RC(6,2) RC(6,1) RC(6,0)    RC(6,7) RC(6,8) RC(6,9)
        >;
    };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        label = "KSCAN";

        gpios
            = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 0
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Col 0
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};
