/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cheapinov2.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    gpios
        = <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 14 GPIO_ACTIVE_HIGH>
        , <&xiao_d 15 GPIO_ACTIVE_HIGH>
        , <&xiao_d 26 GPIO_ACTIVE_HIGH>
        , <&xiao_d 27 GPIO_ACTIVE_HIGH>
        , <&xiao_d 28 GPIO_ACTIVE_HIGH>
        , <&xiao_d 29 GPIO_ACTIVE_HIGH>
        ;
};
