//     ___ _                      _
//    / __\ |___  ___  __ _ _ __ (_)_ ___  ____
//   / /  | '_  \/ _ \/ _` | '_ \| | '_  \/ _  \
//  / /___| | | |  __/ (_| | |_) | | | | | (_) |
//  \____/|_| |_|\___|\__,_| .__/|_|_| |_|\___/
//                         |_|

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define BASE 0
#define MEDIA  1
#define SYM  2
#define ADJ  3

&mt {
  quick-tap-ms = <150>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <350>;
  require-prior-idle-ms = <150>;
  hold-trigger-on-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE>;
};

/ {
        keymap {
                compatible = "zmk,keymap";
        BASE {
          bindings = <
          &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SEMICOLON
          &mt LEFT_GUI A &mt LEFT_ALT R &mt LEFT_CONTROL S &mt LEFT_SHIFT T &kp G &kp M &mt LEFT_SHIFT N &mt LEFT_CONTROL E &mt LEFT_ALT I &mt LEFT_GUI O
          &kp Z &kp X &kp C &kp D &lt 5 V &lt 1 K &kp H &kp COMMA &kp DOT &kp SLASH
          &lt 6 ESCAPE &lt 3 SPACE &lt 5 TAB &lt 1 DELETE &lt 2 BACKSPACE &lt 4 ENTER
          >;
        };
        MEDIA {
          bindings = <
          &kp C_VOLUME_UP &none &none &none &none &none &none &none &none &kp C_POWER 
          &none &none &none &none &kp C_MUTE &none &trans &trans &trans &trans 
          &kp C_VOLUME_DOWN &kp C_NEXT &none &none &kp C_PLAY_PAUSE &none &none &none &none &none 
              &none &trans &trans &none &none &none
          >;
        };
        NAV {
          bindings = <
          &none &kp HOME &kp DELETE &kp PAGE_UP &none &none &none &none &none &studio_unlock
          &caps_word &kp LEFT &kp UP &kp RIGHT &none &none &trans &trans &trans &trans 
          &none &kp END &kp DOWN &kp PAGE_DOWN &none &none &mkp MB1 &mkp MB2 &mkp MB3 &mkp MB4
              &none &trans &trans &none &none &none
          >;
        };
        SYMBOL_RIGHT {
          bindings = <
          &none &none &none &none &none                 &kp AT &kp UNDERSCORE &kp PIPE &kp GRAVE &kp PERCENT
          &trans &trans &trans &none &none              &kp HASH &kp TAB &kp EXCLAMATION &kp DOUBLE_QUOTES &kp DOLLAR
          &mkp MB4 &mkp MB3 &mkp MB2 &mkp MB1 &none     &kp TILDE &kp SINGLE_QUOTE &kp BACKSLASH &kp SLASH &kp AMPERSAND
              &trans &trans &trans &trans &trans &trans
          >;
        };
        SYMBOL_LEFT {
          bindings = <
          &kp GRAVE &kp CARET &kp LESS_THAN &kp GREATER_THAN &kp SEMICOLON              &none &none &none &none &none 
          &kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &none &none &trans &trans &trans &trans 
          &kp MINUS &none &kp LEFT_BRACKET &kp RIGHT_BRACKET &trans                     &none &none &none &none &none 
                                                    &none &trans &trans &trans &none &none
          >;
        };
        FUNCTION {
          bindings = <
          &kp C_POWER &none &none &none &none &none &kp F7 &kp F8 &kp F9 &kp F10 
          &trans &trans &trans &trans &none &none &kp F4 &kp F5 &kp F6 &kp F11 
          &none &none &none &none &none &none &kp F1 &kp F2 &kp F3 &kp F12 
              &trans &trans &trans &trans &trans &trans
          >;
        };
        NUMPAD {
          bindings = <
          &none &none &none &none &none &kp KP_PLUS &kp N7 &kp N8 &kp N9 &kp KP_ASTERISK 
          &none &trans &trans &trans &none &kp KP_MINUS &kp N4 &kp N5 &kp N6 &kp KP_SLASH 
          &none &none &none &none &none &kp KP_DOT &kp N1 &kp N2 &kp N3 &kp KP_EQUAL 
             &none &none &none &kp N0 &kp COMMA &kp N0
          >;
        };
    };
};
