# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CHEAPINOV2_LEFT
    def_bool $(shields_list_contains,cheapinov2_left)

config SHIELD_CHEAPINOV2_RIGHT
    def_bool $(shields_list_contains,cheapinov2_right)
